[submodule "webroot/vendors/abpetkov/switchery"]
	path = webroot/vendors/abpetkov/switchery
	url = git@github.com:abpetkov/switchery.git
[submodule "webroot/vendors/fengyuanchen/jquery-cropper"]
	path = webroot/vendors/fengyuanchen/jquery-cropper
	url = git@github.com:fengyuanchen/jquery-cropper.git
